<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:assetic="http://typo3.org/ns/Cundd/Assetic/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="Content">
        <f:asset.css identifier="assetic" href="EXT:assetic/Resources/Public/Css/assetic.css?2024-12-03" />

        <div class="assetic">
            <h1>Assets</h1>

            <f:flashMessages />

            <table class="tx_assetic">
                <tr>
                    <th>
                        <f:translate key="tx_assetic_domain_model_asset.last_modified" />
                    </th>
                    <th>
                        <f:translate key="tx_assetic_domain_model_asset.path" />
                    </th>
                    <th>
                        <f:translate key="tx_assetic_domain_model_asset.filters" />
                    </th>
                </tr>

                <f:for each="{assets}" as="asset">
                    <tr>
                        <td class="no-wrap">
                            <f:format.date format="d.m.Y - H:i:s">@{asset.lastModified}</f:format.date>
                        </td>
                        <td>{asset.sourceRoot}/{asset.sourcePath}</td>
                        <td>
                            <f:for each="{asset.filters}" as="filter">
                                <code><assetic:filterDescribe filter="{filter}" /></code>
                                <br />
                            </f:for>
                        </td>
                    </tr>
                </f:for>
            </table>

            <div class="button-group">
                <f:link.action action="compile" class="button2 btn btn-default btn-sm">Compile</f:link.action>

                <f:link.action action="compile" arguments="{clearPageCache:1}" class="button2 btn btn-default btn-sm">
                    Compile and clear FE cache
                </f:link.action>
            </div>

            <f:if condition="{lastBuildError}">
                <div class="build-error">
                    <div class="button-group">
                        <button
                            id="build-error-message-button"
                            class="button2 btn btn-default btn-sm"
                            type="button"
                            aria-expanded="false"
                            aria-controls="build-error-message">
                            Show build errors

                            <core:icon identifier="actions-caret-right" size="small" />
                        </button>
                    </div>
                    <div hidden="hidden" id="build-error-message">
                        <pre>{lastBuildError}</pre>
                    </div>
                </div>
            </f:if>
        </div>
        <f:asset.script identifier="assetic-backend" src="EXT:assetic/Resources/Public/JavaScript/Backend.js" />
    </f:section>
</html>
