<table class="tx-assetic" >
	<tr>
		<td>
			<f:translate key="tx_assetic_domain_model_asset.content" />
		</td>
		<td>
			{asset.content}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_assetic_domain_model_asset.last_modified" />
		</td>
		<td>
			{asset.lastModified}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_assetic_domain_model_asset.source_root" />
		</td>
		<td>
			{asset.sourceRoot}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_assetic_domain_model_asset.source_path" />
		</td>
		<td>
			{asset.sourcePath}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_assetic_domain_model_asset.target_path" />
		</td>
		<td>
			{asset.targetPath}
		</td>
	</tr>
</table>