.assetic {
    --assetic-gray-medium: #7c7c7c;
}

.assetic code {
    margin: 0;
}

.assetic table {
    margin-bottom: 10px;
}

.assetic table th,
.assetic table td {
    padding: 6px 8px;
    border: 1px solid var(--assetic-gray-medium);
}

.assetic .no-wrap {
    white-space: nowrap;
}

.assetic .build-error {
    margin-top: 20px;
}

.assetic .build-error .btn {
    background: var(--typo3-state-danger-bg);
    border-color: var(--typo3-state-danger-border-color);
    color: var(--typo3-state-danger-color);
}

.assetic .build-error .btn[aria-expanded="true"] .icon-markup {
    rotate: 90deg;
}

.assetic .build-error pre {
    border: 1px solid var(--assetic-gray-medium);
    padding: 10px;
}
