.assetic .build-error {
    margin-top: 20px;
}

.assetic .build-error .btn {
    background: var(--typo3-state-danger-bg);
    border-color: var(--typo3-state-danger-border-color);
    color: var(--typo3-state-danger-color);
}

.assetic .build-error .btn[aria-expanded="true"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.assetic .build-error .btn[aria-expanded="true"] .icon-markup {
    rotate: 90deg;
}

.assetic .build-error pre {
    border: 1px solid var(--typo3-component-border-color, #7c7c7c);
    padding: 10px;
}
